<template name="create">
<div class="body-elem create-wrapper">
    <div class="new-entry">New Entry</div>
    <div class="create">
      <table>
        <tr>
          <td class="create-label bold">Date:</td>
          <td class="create-value">{{date}}</td>
          <br>
        </tr>
        <tr>
          <td class="create-label bold">Weight:</td>
          <td class="create-value"><input id="weight-input" type="number" /></td>
          <br>
        </tr>
        <tr>
          <td class="create-label bold">Squats:</td>
          <td class="create-value"><input id="squats-input" type="number" /></td>
          <br>
        </tr>
        <tr>
          <td class="create-label bold">Deadlift: </td>
          <td class="create-value"><input id="deadlift-input" type="number" /></td>
          <br>
        </tr>
        <tr>
          <td class="create-label bold">Bench:</td>
          <td class="create-value"><input id="bench-input" type="number" /></td>
          <br>
        </tr>
        <tr>
          <td class="create-label bold">Press:</td>
          <td class="create-value"><input id="press-input" type="number" /></td>
          <br>
        </tr>
        <tr>
          <td class="create-label bold">Abs:</td>
          <td class="create-value"><input id="abs-input" type="number" /></td>
          <br>
        </tr>
        <tr>
          <td class="create-label bold">Biceps:</td>
          <td class="create-value"><input id="biceps-input" type="number" /></td>
          <br>
        </tr>
        <tr>
          <td class="create-label bold">Run:</td>
          <td class="create-value"><input id="run-input" type="number" /></td>
          <br>
        </tr>
        <tr>
        <td class="create-value"></td>
        <td class="create-value">
        <input type="button" class="add create-submit" value="Record entry" />
        </td>
      </tr>
    </table>
  </div>
  </div>
</template>
